<h3>This application allows:</h3>
<h4>Admin Users to:</h4>
<ul>
  <li>
     Create Subjects 
  </li>
  <li>
     Create Topics belonging to subjects 
  </li>  
  <li>
     Upload notes and create quizzes pertaining to a topic
  </li>   
  <li>
     Edit all of the above after they have been created
  </li>  
</ul>
<h4>Student Users to:</h4>
<ul>
  <li>
     Choose from the available subjects 
  </li>
  <li>
     Navigate through the topics and attempt the quizzes 
  </li>  
  <li>
     The user can only progress to more advanced quizzes having successfully completed easier levels
  </li>   
</ul>
