<h1>Pages#home</h1>    
<% if current_user.admin? %>
<!--<%= link_to "Add Subject", new_subject_path %>-->
<%= link_to "Subjects", subjects_path %>
  <li>ADMIN USER</li>
  
<% else %>
  <li>you are not admin</li>
<%= link_to "Subjects", subjects_path %>  
<% end %> 
 