<%= bootstrap_form_for(@subject) do |f| %>
  <% if @subject.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @subject.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

      <%= f.text_field :name %>
    <div class="actions">
      <%= f.submit :class => 'btn btn-large btn-primary pull-right' %>
    </div>

<% end %>
